extends layouts/head.pug

block main
  h2 De code om mee te spelen

  section.spelers
    ul
      li Speler 1
      li Speler 2
      li Speler 3
      li Speler 4
      li Speler 5
  section.dices 
    p dobbel 1:
    p dobbel 2:

    p Waarde: 
  section.buttons
    button Gooi dobbels
    button Call bluf
    button Raise 